// Table Agenda
.agenda{
    li{
        padding-top: 15px;
        span{
            font-weight: bold;
            text-transform: uppercase;
        }
        p{
            margin-bottom: 0px;
        }
    }
    .card{
        border: none;
    }
    .card-header{
        margin: 0px;
        background-color: $color1;
        color: white;
    }
    .card-body{
        background-color: $color4;
    }
    
}