section{
    margin: 20px 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
}


$color1: #A61205;
$color2: #BF4904;
$color3: #D9BBA0;
$color4: #D99441;
$color5: #6AA6A6;
$noir: #130E0A;
$blanc: #FFF;
