section{
    margin: 20px 0;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; 
}
/*
body{
    background-image: url(http://2018.cindy-buchet.dwm.re/tfa/assets/img/fond.jpg);
    background-position: center center;
    position: relative;
    vertical-align: top;
}
*/
$rouge: #FF250B;
$jaune: #FFCF0D;
$rouora: #E84A09;
$princi: #E84A09;
$noir: #130E0A;
$blanc: #FFF;