li{
    list-style-type: none;
}

.card-body{
    padding: 0px !important;

    p{
        padding: 0px 10px;
    }
    
    .card-title{
        background-color: green;
        color: white;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
    }
}

.card{
    margin-bottom: 10px;
}


// PROFIL
.profil{
    article{
        padding: 10px;
    }
    .profil-dessus{
        background-color: grey;
    }
    .espace{
        background-color: grey;
        padding: 10px;
    }
  
}