// HEADER
.header-index{
    background: url(http://paperlief.com/images/naruto-uzumaki-wallpaper-1.jpg);
    height: 400px;
    background-size: cover;
    h1{
        color: $blanc;
        text-align: center;
    }
}

// CONTAINER
.container{
    padding: 20px 0px;
}
li{
    list-style-type: none;
}

.card-body{
    padding: 0px !important;

    p{
        padding: 0px 10px;
    }
    
    .card-title{
        background-color: green;
        color: white;
        width: 100%;
        text-align: center;
        padding: 10px 0px;
    }
}

.card{
    margin-bottom: 10px;
}


// PROFIL
.profil{
    article{
        padding: 10px;
    }
    .profil-dessus{
        background-color: grey;
    }
    .espace{
        background-color: grey;
        padding: 10px;
    }
    .profil-img{
        height: 160px;
        width: 160px;
    }
  
}

// TOP
.topclassement{
    border: 2px solid black;
    margin-bottom: 0px !important;
}
.section-top{
    .classement{
        width: 70%;
        display: block;
        margin: auto;
    }
    .top{
        background-color: red;
        margin-bottom: 0px;  
        padding: 5px; 
    }
    .top-title{
        margin-bottom: 0px;
        padding: 5px;
    }
    .top-total{
        margin-bottom: 0px;
        padding: 5px;
    }
}